[Unit]
Description=Configure e39 platform on first boot
DefaultDependencies=no
Conflicts=shutdown.target

#borrowed from https://github.com/rhinstaller/initial-setup/blob/rhel7-branch/systemd/initial-setup-text.service
# getty-pre.target is a pasive target, we need to request it before we can use it
Wants=getty-pre.target
# prevent getty from running on any consoles before we are done
Before=getty-pre.target
After=systemd-vconsole-setup.service

#After=systemd-remount-fs.service getty@tty2.service
After=systemd-remount-fs.service
#network-online.target
#Wants=first-boot-complete.target network-online.target
Wants=bluetooth.target
Wants=first-boot-complete.target

#Wants=multi-user.target
Before=shutdown.target
ConditionPathIsReadWrite=/etc
ConditionPathExists=!/etc/e39/configured



[Service]
ExecStart=/var/lib/e39/configure.sh
ExecStartPost=/usr/bin/touch /etc/e39/configured
ExecStopPost=/usr/sbin/reboot
Type=oneshot
RemainAfterExit=no

TTYReset=yes
TTYPath=/dev/console
StandardOutput=tty
TTYVHangup=yes
TTYVTDisallocate=yes

StandardError=file:/var/lib/e39/configure.log.err
User=root
[Install]
#WantedBy=bluetooth.target
#from rhel7
WantedBy=multi-user.target
